body {
    align-content: center;
    text-align: center;
    background-color: #F2FFFC;
    background-image: url(img/bg.jpg);
    font-size: 133%;
}
ul {
    
}
.margin-auto {
    margin: auto;
}
.trybe-color {
    color: #0fa36b;
}
#nomeRafa {;
    font-family: 'Ubuntu', sans-serif;
}
#fotoRafa {
    border: .2em solid #000;
    border-radius: 50%;
}
#sobreMim {
    font-family: monospace;
}
